h1,
h2,
h3,
h4 {
    font-family: 'Dosis', sans-serif;
}

p {
    font-family: 'Open Sans', sans-serif;
}

.uk-button {
    height: 55px;
    display: flex;
    align-items: center;
}

.slick-prev,
.slick-next {
    display: none !important;
}

.slick-dots {
    top: 30%;
    right: -10%;
}

.slick-dots li {
    display: block;
    margin: 10px;
}

.slider button {
    height: 8px;
    width: 8px;
    background-color: #fff;
}

header .container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.header__content {
    flex: 1;
    display: flex;
    align-items: center;
}

.header__content-left {
    height: fit-content;
}

.container{
    max-width: 1170px;
    margin: 0 auto;
}

.uk-button-secondary {
    color: #ffffff;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 2.6px;
}

header {
    background: url('../img/Layer_70.png') no-repeat rgba(92, 95, 99, 0.3);
    background-position: top 50%;
    color: #ffffff;
    height: 100vh;
    background-size: 50% 100%;
}
.uk-navbar{
  display: flex;
}
.uk-navbar-nav li a {
    color: #ffffff;
    font-size: 12px;
    font-weight: 500;
}

h1 {
    color: #ffffff;
    font-size: 54px;
    font-weight: 700;

    text-transform: uppercase;
}

h1 span {
    font-size: 90px;
}

h2 span {
    font-size: 50px;
}

h1:after {
    content: "";
    width: 74px;
    height: 6px;
    border-radius: 3px;
    background-color: #ffffff;
}

h2 {
    color: #3d3d3d;
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
}

h3 {
    color: #000000;

    font-size: 24px;
    font-weight: 700;
    line-height: 40px;
    text-transform: uppercase;
}

h4, h4 a {
    color: #3d3d3d;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
}

h4 a:hover {
    text-decoration: none;
    color: #3d3d3d;
}

.heading p {
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
}

.clients p {
    color: #f16522;
    font-size: 13px;
    font-weight: 400;
    line-height: 21px;
}

.aboutus {
    background: url('../img/Layer_63.png') no-repeat #f8f8f8;
}

.aboutus p {
    color: #3d3d3d;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
}

.services p {
    line-height: 30px;
    font-size: 14px;
    padding-right: 100px;
    color: #3d3d3d;
}

.services__item {
    padding: 0;
}

.services__item div {
    width: 290px;
    height: 290px;
    border: 1px solid #e7eaed;
}

.services__item p,
.industries__item p {
    color: #3d3d3d;
    font-family: Dosis;
    font-size: 16px;
    font-weight: 700;
    line-height: 40px;
    text-transform: uppercase;
    padding: 0;
}

.services__item div,
.industries__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.industries__item {
    width: 250px;
    height: 150px;
    outline: 1px dashed;
    outline-offset: 10px;
    padding: 0;

}

.industries__item:hover {
    background-color: #f3f3f3;
}

.industries__item a {
    background-color: #f16522;
}

.industries p {
    font-size: 14px;
    color: #3d3d3d
}

.works {
    background: url(../img/old.png) no-repeat bottom left #28282e;
    background-size: 43%;
}

.works h2,
.works h3 {
    color: #ffffff;
}

.works p {
    color: #878796;
    line-height: 30px;
}

.works__table-first {
    width: 100px;
    margin: 0 50px 20px 0;
    display: inline-block;

}

.works__table-second {
    display: inline-block;
    margin: 0 0 20px 10px;
}

.works__table-second a {
    color: #f16522;
}

.works__items {
    background-color: #222227;
}

.works__item {
    width: 371px;
    height: 243px;
    background-color: #28282e;
}

.feature {
    background-color: #f1f1f1;
}

.feature p {
    line-height: 30px;
    font-size: 14px;
    color: #3d3d3d;
}

.feature a:last-of-type {
    color: #f16522;
    background: 0;
    border: 2px solid #f16522;
}

.feature__buttons a {
    margin-right: 20px;
}

.bg-white {
    background: #ffffff;
    text-align: center;
}

.bg-white a {
    color: #f16522;
}

.blog p {
    color: #3d3d3d;
    line-height: 24px;
    font-size: 14px;
}

.blog p a {
    color: #f16522;
}

h5 {
    color: #000000;
    font-size: 16px;
    font-weight: 600;
    line-height: 30px;
}

footer {
    background-color: #e7eaed;
}

footer p {
    color: #3d3d3d;
    font-size: 12px;
}

footer span {
    color: #f16522;
    font-size: 10px;
    text-transform: uppercase;
}

.mail input {

    display: block;

}

.mail a {
    position: absolute;
    right: 10px;
    top: 7px;
}

.text_center {
    width: 50%;
    text-align: center;
    line-height: 30px;
}

.customNextBtn, .customPrevBtn {
    cursor: pointer;
}

.industries .container div {
    margin: 22.5px 15px;

}

.owl-item {
    display: flex;
    justify-content: center;
}

.uk-navbar-toggle {
    display: none;
    color: #ffffff;
}

/*медиазапросы*/

@media screen and (max-width: 1170px) {
    .container {
        width: 95%;
    }

    .services__item div {
        width: 240px;
        height: 240px;
    }

    .works {
        background-size: 50%;
    }
}

@media screen and (max-width: 1024px) {
    .aboutus, .services, .works, .industries, .feature {
        padding-top: 40px;
    }

    .services .container > div {
        width: 100%;
    }

    .services .container > div:first-child {
        align-items: center;
    }

    .services h2 {
        text-align: center;
    }

    .services .container > div > p {
        padding: 0 40px;
        text-align: center;
    }

    .services__item div {
        width: 290px;
        height: 290px;
    }

    .services__item {
        justify-content: center;
        padding: 0 50px;
    }

    .works {
        background-size: 0%;
    }

    .works-right {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .works-right > p {
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    .menu {
        display: none;
    }

    .uk-navbar-toggle {
        display: flex;
    }

    header {
        background-size: 100% 100%;
    }

    .header__content-left {
        width: 100%;
    }

    .slick-dots {
        display: none !important;
    }

    .go_to {
        display: none;
    }

    .aboutus .container > div:first-child, .feature .container > div:first-child {
        display: none;
    }

    .aboutus .container > div:last-child, .feature .container > div:last-child {
        width: 100%;
        padding-bottom: 50px;
    }

    .industries .container > div:first-child {
        width: 100%;
        text-align: center;
    }

    .industries .container {
        justify-content: center;
    }

    .text_center {
        width: 100%;
    }

    .blog__items > div {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    footer .container > div {
        width: 50%;
    }
}

@media screen and (max-width: 425px) {
    footer .container > div {
        width: 100%;
        padding-left: 0;
    }

    footer {
        padding-bottom: 50px;
    }
}

@media screen and (max-width: 375px) {
    .services__item div {
        width: 100%;
    }

    .services__item {
        padding: 0 0;
    }

    .works__table {
        font-size: 13px;
    }

    .works__table-first {

        margin: 0 10px 5px 0;
    }

    .feature__buttons {
        display: flex;
        flex-direction: column;

    }

    .feature__buttons a {
        margin: 0 0 5px 0;
    }
}
