<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Linkoln</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Dosis:400,500,700" rel="stylesheet">
  <link rel="stylesheet" href="css/uikit.min.css">
  <link rel="stylesheet" href="css/slick.css"/>
  <link rel="stylesheet" href="css/slick-theme.css"/>
  <link rel="stylesheet" href="css/owl.carousel.min.css"/>
  <link rel="stylesheet" href="css/owl.theme.default.css"/>
  <link rel="stylesheet" href="css/main.css">
</head>

<body>
<div class="uk-offcanvas-content">
  <header>

    <div id="mobile-menu" uk-offcanvas="overlay: true">
      <div class="uk-offcanvas-bar">
        <ul class="uk-nav">
          <li><a href="">Home</a></li>
          <li><a href="">Works</a></li>
          <li><a href=""> Industries </a></li>
          <li><a href="">Services</a></li>
          <li><a href="">News</a></li>
          <li><a href="">Who we are</a></li>
          <li><a href="">Contact</a></li>
        </ul>
      </div>
    </div>
    <div class="container">
      <nav uk-navbar>
        <a href="#" class="uk-navbar-item uk-logo"><img src="img/Layer_77.png" alt=""></a>
        <div class="uk-navbar-right">
          <ul class="uk-navbar-nav menu">
            <li><a href="">Home</a></li>
            <li><a href="">Works</a></li>
            <li><a href=""> Industries </a></li>
            <li><a href="">Services</a></li>
            <li><a href="">News</a></li>
            <li><a href="">Who we are</a></li>
            <li><a href="">Contact</a></li>
          </ul>
          <a href="#mobile-menu" uk-toggle class="uk-navbar-toggle" uk-navbar-toggle-icon></a>
        </div>

      </nav>
      <div uk-grid class="uk-child-width-1-2 uk-padding-remove header__content">
        <div class="header__content-left">
          <div id="slider"></div>
        </div>
      </div>
      <div class="uk-flex uk-flex-center uk-position-bottom uk-margin-bottom">
        <a href="#test" class="go_to">
          <img src="img/scroll_down.png" alt="">
        </a>
      </div>
    </div>
  </header>
  <section class="clients" id="test">
    <div class="container">
      <div class="uk-flex uk-flex-between uk-flex-middle uk-flex-wrap">
        <div>
          <h3 class="uk-margin-remove">Our clients</h3>
          <div class="uk-flex  uk-flex-middle uk-flex-center">
            <p class="uk-margin-remove-bottom uk-margin-small-right">View all</p>
            <img src="img/Layer_22.png" alt=""></div>
        </div>
        <img src="img/Layer_4.png" alt="">
        <img src="img/Layer_6.png" alt="">
        <img src="img/Layer_7.png" alt="">
        <img src="img/Layer_8.png" alt="">
        <img src="img/Layer_10.png" alt="">
        <img src="img/Layer_11.png" alt="">
      </div>
    </div>
  </section>
  <section class="aboutus">
    <div uk-grid class="container uk-child-width-1-2 uk-margin-top">

      <div>
        <img src="img/Layer_64.png" alt="">
      </div>
      <div class="uk-flex uk-flex-column uk-flex-center uk-flex-top">
        <h2><span>Hello</span><br>
          Lorem ipsum dolor sit amet</h2>
        <img src="img/Layer_12.png" alt="">
        <p>
          Curabitur et dapibus leo. Donec eleifend pharetra sem, et interdum nunc semper vel. Sed interdum
          magna eu faucibus faucibus. Nulla varius faucibus arcu, eget aliquet tortor sollicitudin ut.
          Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam sollicitudin felis quis varius
          porta. Donec sit amet diam a elit pulvinar pretium.
        </p>
        <a class="uk-button uk-button-secondary" href=""> See more about us</a>
      </div>

    </div>
  </section>
  <section class="services">
    <div uk-grid class="container uk-child-width-1-2">
      <div class="uk-flex uk-flex-column  uk-flex-top uk-flex-center uk-padding-remove ">
        <h2><span>EXPERIENCE</span><br>
          all EXPERT DIGITAL SERVICES</h2>
        <img src="img/Layer_12.png" alt="">
        <p>
          Maecenas suscipit imperdiet nisi ac hendrerit. Nam congue felis ac massa rutrum pulvinar. Donec
          sodales eros sed efficitur mattis. Integer tincidunt, felis a placerat maximus, eros nulla dapibus
          dui.
        </p>
        <a class="uk-button uk-button-secondary uk-margin-top" href=""> See our services</a>
      </div>
      <div class="services__item uk-flex uk-flex-wrap ">

        <div>
          <img src="img/Layer_18.png" alt="">
          <p>
            Website Design & Development
          </p>
        </div>
        <div>
          <img src="img/Layer_21.png" alt="">
          <p>
            Digital Marketing
          </p>
        </div>

        <div><img src="img/Layer_19.png" alt="">
          <p>
            Web Security & Optimization
          </p>
        </div>
        <div><img src="img/Layer_20.png" alt="">
          <p>
            Conversion Optimization
          </p>
        </div>


      </div>
    </div>
  </section>
  <section class="works">
    <div class="container uk-padding-large uk-padding-remove-horizontal">
      <div class="uk-flex uk-flex-column uk-flex-center uk-flex-middle">
        <h2>
          Recent work
        </h2>
        <img src="img/Layer_12.png" alt="">
        <p class="text_center">
          Donec sodales eros sed efficitur mattis. Integer tincidunt, felis a placerat maximus, eros nulla
          dapibus
          dui, at facilisis enim odio at velit.
        </p>
      </div>
      <div uk-grid class="uk-child-width-1-2">
        <div>

        </div>
        <div class="works-right">
          <h3 class="uk-margin-large-top ">
            CustomerDomain.com
          </h3>
          <p>
            Donec lacus leo, vestibulum et erat eget, viverra posuere est. Maecenas dapibus mi erat. Duis
            egestas tempus leo, non euismod velit dictum eu.
          </p>
          <div class="works__table">
            <div><p class="works__table-first">Client</p> : <p class="works__table-second">Customer</p>
            </div>
            <div><p class="works__table-first">Location</p> : <p class="works__table-second"> U.K.</p></div>
            <div><p class="works__table-first">Services</p> : <p class="works__table-second"> Search Engine
              Optimization</p></div>
            <div><p class="works__table-first">Website link</p> : <p class="works__table-second"><a
              href="">www.CustomerDomain.com</a></p></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="works__items">
    <div class="container uk-padding-large uk-padding-remove-horizontal">
      <div class=" uk-position-relative owl-carousel owl-theme">
        <div class="works__item uk-flex uk-flex-middle uk-flex-center">
          <img src="img/Layer_30.png" alt="">
        </div>

        <div class="works__item uk-flex uk-flex-middle uk-flex-center">
          <img src="img/Layer_31.png" alt="">
        </div>

        <div class="works__item uk-flex uk-flex-column uk-flex-middle uk-flex-center bg-white">
          <img src="img/Layer_37.png" alt="">
          <p> Futurethink.com is the professional website which researches and develops innovation for
            organizations using a refreshing and simple approach.</p>
          <p class="uk-margin-remove"><a href="">View details</a></p>
        </div>
      </div>
      <div class="uk-flex uk-margin-medium-top uk-flex-center">
        <img src="img/prev.png" alt="" class="customPrevBtn">
        <a class="uk-button uk-button-secondary uk-margin-right uk-margin-left" href=""> Show all</a>
        <img src="img/next.png" alt="" class="customNextBtn">
      </div>
    </div>

  </section>
  <section class="industries">
    <div class="container uk-padding-large uk-padding-remove-horizontal uk-flex uk-flex-wrap uk-flex-between">

      <div class="uk-width-1-2 uk-margin-remove">
        <h2><span>We focus</span><br>
          ON KEY INDUSTRIES</h2>
        <img src="img/Layer_12.png" alt="">
        <p>Donec nulla justo, pharetra in nulla in, lacinia pulvinar nunc rutrum nisi vel nib.</p>
      </div>

      <div class="industries__item">
        <img src="img/Layer_54.png" alt="">
        <p>Digital Marketing</p>
      </div>
      <div class="industries__item">
        <img src="img/Layer_55.png" alt="">
        <p>Sport & Entertainment</p>
      </div>


      <div class="industries__item">
        <img src="img/Layer_51.png" alt="">
        <p>Health & Fitness</p>
      </div>
      <div class="industries__item">
        <img src="img/Layer_60.png" alt="">
        <p> Law firms and Real Estates</p>
      </div>
      <div class="industries__item">
        <img src="img/Layer_59.png" alt="">
        <p>Professional Services</p>
      </div>
      <div class="industries__item">
        <img src="img/Layer_50.png" alt="">
        <p>Fashion & Beauty</p>
      </div>


      <div class="industries__item">
        <img src="img/Layer_57.png" alt="">
        <p>Food & Beverage</p>
      </div>
      <div class="industries__item">
        <img src="img/Layer_56.png" alt="">
        <p> Games & Comics</p>
      </div>
      <div class="industries__item">
        <img src="img/Layer_58.png" alt="">
        <p>Travel & Hotels</p>
      </div>
      <div class="industries__item">
        <a class="uk-button uk-button-secondary" href=""> Show all</a>
      </div>

    </div>
  </section>
  <section class="feature">
    <div uk-grid class="container uk-child-width-1-2 uk-padding-large uk-padding-remove-horizontal">
      <div class="uk-flex uk-flex-middle"><img src="img/Layer_80.png" alt=""></div>
      <div class="uk-flex uk-flex-column uk-flex-center uk-flex-top uk-padding-remove uk-flex-middle">
        <h2>
          <span>Feature</span><br>
          Marketing Guide
        </h2>
        <img src="img/Layer_12.png" alt="">
        <p>
          Etiam vitae dui quis mi pharetra facilisis. Aenean volutpat nisi dui, vel tempus metus euismod in.
          Quisque vitae volutpat nulla. Curabitur cursus leo lacus, a ullamcorper augue iaculis vel. </p>
        <p class="uk-margin-remove-top uk-margin-medium-bottom"> Cras in risus vitae leo feugiat lobortis
          euismod quis dui. Integer tempor urna quis quam volutpat, non consequat augue iaculis. Proin
          malesuada sem sagittis imperdiet rutrum.
        </p>
        <div class="uk-flex feature__buttons">
          <a class="uk-button uk-button-secondary " href=""> See more</a>
          <a class="uk-button uk-button-secondary" href=""> Download</a>
        </div>
      </div>
    </div>
  </section>
  <section class="blog">
    <div class="container uk-padding-large uk-padding-remove-horizontal">
      <div class="uk-flex uk-flex-column uk-flex-center uk-flex-middle uk-padding">
        <h2>Recent blog</h2>
        <img src="img/Layer_12.png" alt="">
        <p class="text_center">
          Donec nulla justo, pharetra in nulla in, lacinia pulvinar nunc. Nunc rutrum nisi vel nibh cursus,
          nec
          vestibulum orci feugiat.
        </p>
      </div>

      <div id="blog">
        <blog-post :blogs="blogs"></blog-post>
        <div class="uk-flex uk-flex-center uk-margin-large-top">
          <h4 class="uk-margin-remove"><a @click="showNewPost=!showNewPost">+ load more</a></h4>
        </div>
        <div v-if="showNewPost">
          <label for="image">Add image</label>
          <input class="uk-input" type="text" id="image" v-model="newImage"><br>
          <label for="title">Add title</label>
          <input class="uk-input" type="text" id="title" v-model="newTitle"><br>
          <label for="author">Add your name</label>
          <input class="uk-input" type="text" id="author" v-model="newAuthor"><br>
          <label for="post">Add post</label>
          <textarea class="uk-textarea" type="text" id="post" v-model="newPost"></textarea>
          <div>
            Your post:
            <img :src="newImage" alt="">
            <p>{{newTitle}}</p>
            <p>{{newAuthor}}</p>
            <img src="img/Layer_12.png" alt="">
            <p>{{newPost}}</p>
          </div>
          <button class="uk-button uk-button-secondary">
            publish
          </button>
        </div>

      </div>

    </div>
  </section>
  <footer>
    <div uk-grid class="container uk-child-width-1-4 uk-padding-large uk-padding-remove-horizontal uk-flex-wrap">

      <div>
        <h3>
          AGENCY CREATIVE
        </h3>
        <p>
          © 2015 k3nnyart. All rights reserved. <br><span>Privacy Policy</span>
        </p>
      </div>
      <div>
        <h4>
          Address
        </h4>
        <p>
          ABC Agency Creative
          <br>4111 Deer Haven Drive Greenville, SC 29601
          <br>Hours: Mon-Fri 9am - 6:00pm
        </p>
      </div>
      <div>
        <h4>
          get in touch
        </h4>
        <p>
          Tel: +1 234-567-890
          <br>Fax: +1 646-216-9789
          <br> Email: info@yourdomain.com
        </p>
      </div>
      <div>
        <h4>
          Subscribe to our mailing list
        </h4>
        <div class="uk-position-relative mail">
          <form action="">
            <input type="text" placeholder="Enter your email" class="uk-input uk-position-absolute">
          </form>
          <a href="#"><img src="img/Layer_79.png" alt=""></a>
        </div>
      </div>

    </div>
  </footer>
</div>
<script src="js/uikit.min.js"></script>
<script src="js/uikit-icons.min.js"></script>
<!--
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/slick.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
<script src="js/main.js"></script>-->
<script src="dist/build.js"></script>
</body>
</html>
